---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
// Includes Bourbon, Neat, and Bitters (thanks, thoughtbot!)
@import
  "bourbon/bourbon",
  "base/base",
  "neat/neat",
  "layout"
;


.page {
  font-weight: lighter;
  a {
    font-weight: normal;
  }


}

.profile-img{
  >img {
    border-radius: 50%;
  }
}
.profile-name {
  font-family: $title-font-family;
}
.profile-name, .profile-desc, .profile-contact {
  text-align: center;
  >a {
    color: #333;
  }
}

.resume-header  {
  display: inline-block;
  float: left;
  width: 9em;
  font-family: $title-font-family;
}

.resume-desc {
  display: inline-block;
  float: left;
  margin-top: 0px;
  width: 32em;
  list-style: none;

  >li {
    padding-bottom: 3.5em;
  }
}

.resume-desc-cert {
  >li {
    padding-bottom: 0px;
  }
}
